In [1]:
import pandas as pd
from sklearn.metrics import *

In [2]:
games = pd.read_csv('input/games.csv')

In [3]:
ranking = pd.read_csv('input/ranking.csv')

TODOS LOS EQUIPOS DE LOCAL

In [4]:
todos = games[games['SEASON']>=2019]

In [5]:
df_todos = todos[['HOME_TEAM_ID','PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home','AST_home', 'REB_home']]

In [6]:
mediasLocales2019 = df_todos.groupby('HOME_TEAM_ID').mean()
mediasLocales2019.loc[1610612764]

PTS_home        114.806452
FG_PCT_home       0.459452
FT_PCT_home       0.759032
FG3_PCT_home      0.366355
AST_home         24.870968
REB_home         44.258065
Name: 1610612764, dtype: float64

TODOS LOS EQUIPOS DE VISITANTE

In [7]:
todosVisitantes = games[games['SEASON']>=2019]

In [8]:
df_todosVisitantes = todosVisitantes[['VISITOR_TEAM_ID','PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away','AST_away', 'REB_away']]

In [9]:
mediasVisitantes2019 = df_todosVisitantes.groupby('VISITOR_TEAM_ID').mean()

UNIMOS Y LIMPIAMOS DATAFRAMES

In [10]:
df_2019 = games[['HOME_TEAM_ID', 'VISITOR_TEAM_ID','SEASON','HOME_TEAM_WINS']]

In [11]:
df_2019 = df_2019[df_2019['SEASON']>=2019]
df_2019

       HOME_TEAM_ID  VISITOR_TEAM_ID  SEASON  HOME_TEAM_WINS
0        1610612766       1610612749    2019               0
1        1610612750       1610612742    2019               0
2        1610612746       1610612755    2019               1
3        1610612743       1610612761    2019               1
4        1610612758       1610612765    2019               1
...             ...              ...     ...             ...
16191    1610612754       1610612758    2019               1
16192    1610612744       1610612747    2019               0
16193    1610612759       1610612753    2019               0
16194    1610612746       1610612745    2019               0
16195    1610612758       1610612754    2019               0

[965 rows x 4 columns]

In [12]:
df_2019 = df_2019.merge(right=mediasLocales2019, on=['HOME_TEAM_ID'])
df_2019.head()

,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,HOME_TEAM_WINS,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home
0,1610612766,1610612749,2019,0,103.193548,0.435516,0.749742,0.338387,23.806452,42.935484
1,1610612766,1610612752,2019,1,103.193548,0.435516,0.749742,0.338387,23.806452,42.935484
2,1610612766,1610612751,2019,0,103.193548,0.435516,0.749742,0.338387,23.806452,42.935484
3,1610612766,1610612742,2019,0,103.193548,0.435516,0.749742,0.338387,23.806452,42.935484
4,1610612766,1610612753,2019,0,103.193548,0.435516,0.749742,0.338387,23.806452,42.935484

In [13]:
df_2019 = df_2019.merge(right=mediasVisitantes2019, on=['VISITOR_TEAM_ID'])
df_2019.head()

,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,HOME_TEAM_WINS,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1610612766,1610612749,2019,0,103.193548,0.435516,0.749742,0.338387,23.806452,42.935484,117.424242,0.47603,0.767788,0.350182,24.727273,51.575758
1,1610612766,1610612749,2019,0,103.193548,0.435516,0.749742,0.338387,23.806452,42.935484,117.424242,0.47603,0.767788,0.350182,24.727273,51.575758
2,1610612750,1610612749,2019,0,110.413793,0.427345,0.725655,0.318621,23.551724,47.344828,117.424242,0.47603,0.767788,0.350182,24.727273,51.575758
3,1610612746,1610612749,2019,0,115.705882,0.465588,0.767971,0.367912,24.941176,48.647059,117.424242,0.47603,0.767788,0.350182,24.727273,51.575758
4,1610612758,1610612749,2019,0,109.033333,0.460200,0.750233,0.365400,22.533333,43.100000,117.424242,0.47603,0.767788,0.350182,24.727273,51.575758

In [14]:
df_2019['HOME_TEAM_WINS']= df_2019['HOME_TEAM_WINS'].replace({0: 'VISITANTE', 1: 'LOCAL'})

In [15]:
categoricalColumns = ['HOME_TEAM_ID', 'VISITOR_TEAM_ID']
for i in categoricalColumns:
    df_2019[i] = df_2019[i].astype('category')

In [16]:
df_2019.head()

,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,HOME_TEAM_WINS,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1610612766,1610612749,2019,VISITANTE,103.193548,0.435516,0.749742,0.338387,23.806452,42.935484,117.424242,0.47603,0.767788,0.350182,24.727273,51.575758
1,1610612766,1610612749,2019,VISITANTE,103.193548,0.435516,0.749742,0.338387,23.806452,42.935484,117.424242,0.47603,0.767788,0.350182,24.727273,51.575758
2,1610612750,1610612749,2019,VISITANTE,110.413793,0.427345,0.725655,0.318621,23.551724,47.344828,117.424242,0.47603,0.767788,0.350182,24.727273,51.575758
3,1610612746,1610612749,2019,VISITANTE,115.705882,0.465588,0.767971,0.367912,24.941176,48.647059,117.424242,0.47603,0.767788,0.350182,24.727273,51.575758
4,1610612758,1610612749,2019,VISITANTE,109.033333,0.460200,0.750233,0.365400,22.533333,43.100000,117.424242,0.47603,0.767788,0.350182,24.727273,51.575758

In [124]:
df_2019.HOME_TEAM_WINS.value_counts()

LOCAL        528
VISITANTE    437
Name: HOME_TEAM_WINS, dtype: int64

In [17]:
df_2019.dtypes

HOME_TEAM_ID       category
VISITOR_TEAM_ID    category
SEASON                int64
HOME_TEAM_WINS       object
PTS_home            float64
FG_PCT_home         float64
FT_PCT_home         float64
FG3_PCT_home        float64
AST_home            float64
REB_home            float64
PTS_away            float64
FG_PCT_away         float64
FT_PCT_away         float64
FG3_PCT_away        float64
AST_away            float64
REB_away            float64
dtype: object

ENTRENAMOS EL MODELO

In [18]:
y = df_2019.HOME_TEAM_WINS

In [19]:
X = df_2019.drop(columns =['HOME_TEAM_WINS','SEASON'])

In [20]:
print(y.shape)
print(X.shape)

(965,)
(965, 14)

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [22]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(772, 14)
(193, 14)
(772,)
(193,)

In [23]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=800, max_depth=20, min_samples_leaf=3, random_state=111, n_jobs = -1)

model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=20, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=3, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=800,
                       n_jobs=-1, oob_score=False, random_state=111, verbose=0,
                       warm_start=False)

In [24]:
y_pred=model.predict(X_test)
print('Accurancy', accuracy_score(y_test, y_pred))
print("Precision", precision_score(y_test, y_pred, average='weighted'))
print("Recall", recall_score(y_test, y_pred, average='weighted'))

Accurancy 0.6994818652849741
Precision 0.6994818652849741
Recall 0.6994818652849741

In [25]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
import matplotlib.pyplot as plt

y_score = model.predict_proba(X_test)


display(pd.DataFrame({
    "real":y_test,
    "predicted":y_pred,
    "probaLocal":y_score[:,0],
    "probaVisitante":y_score[:,1]
    
}).head(30))

          real  predicted  probaLocal  probaVisitante
180      LOCAL  VISITANTE    0.298988        0.701012
769  VISITANTE  VISITANTE    0.283683        0.716317
573  VISITANTE  VISITANTE    0.196965        0.803035
693  VISITANTE      LOCAL    0.785853        0.214147
275      LOCAL      LOCAL    0.659802        0.340198
466      LOCAL      LOCAL    0.761469        0.238531
353  VISITANTE  VISITANTE    0.410938        0.589062
46       LOCAL      LOCAL    0.614225        0.385775
152      LOCAL      LOCAL    0.767279        0.232721
639      LOCAL      LOCAL    0.632122        0.367878
691  VISITANTE      LOCAL    0.503164        0.496836
376      LOCAL      LOCAL    0.536305        0.463695
464      LOCAL  VISITANTE    0.399429        0.600571
889      LOCAL      LOCAL    0.866258        0.133742
942  VISITANTE  VISITANTE    0.202210        0.797790
688  VISITANTE  VISITANTE    0.397015        0.602985
523      LOCAL      LOCAL    0.805675        0.194325
566  VISITANTE  VISITANTE    0.494906        0.505094
195  VISITANTE  VISITANTE    0.179248        0.820752
164  VISITANTE  VISITANTE    0.119805        0.880195
332      LOCAL      LOCAL    0.855306        0.144694
223  VISITANTE  VISITANTE    0.092250        0.907750
826      LOCAL  VISITANTE    0.349524        0.650476
489  VISITANTE  VISITANTE    0.451489        0.548511
896  VISITANTE  VISITANTE    0.460707        0.539293
216      LOCAL      LOCAL    0.525292        0.474708
944      LOCAL  VISITANTE    0.141188        0.858812
720      LOCAL      LOCAL    0.620919        0.379081
148      LOCAL      LOCAL    0.784597        0.215403
480  VISITANTE      LOCAL    0.641468        0.358532

In [26]:
y_predAll=model.predict(X)
print('Accurancy', accuracy_score(y, y_predAll))
print("Precision", precision_score(y, y_predAll, average='weighted'))
print("Recall", recall_score(y, y_predAll, average='weighted'))

Accurancy 0.816580310880829
Precision 0.8163866454372369
Recall 0.816580310880829

In [27]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
import matplotlib.pyplot as plt

y_scoreAll = model.predict_proba(X)


display(pd.DataFrame({
    "real":y,
    "predicted":y_predAll,
    "probaLocal":y_scoreAll[:,0],
    "probaVisitante":y_scoreAll[:,1]
    
}).head(30))

         real  predicted  probaLocal  probaVisitante
0   VISITANTE  VISITANTE    0.037865        0.962135
1   VISITANTE  VISITANTE    0.037865        0.962135
2   VISITANTE  VISITANTE    0.043032        0.956968
3   VISITANTE  VISITANTE    0.315167        0.684833
4   VISITANTE  VISITANTE    0.088762        0.911238
5   VISITANTE  VISITANTE    0.151678        0.848322
6   VISITANTE  VISITANTE    0.082835        0.917165
7   VISITANTE  VISITANTE    0.022712        0.977288
8   VISITANTE  VISITANTE    0.097336        0.902664
9   VISITANTE  VISITANTE    0.097336        0.902664
10  VISITANTE  VISITANTE    0.051748        0.948252
11  VISITANTE  VISITANTE    0.136473        0.863527
12      LOCAL      LOCAL    0.597501        0.402499
13      LOCAL  VISITANTE    0.425156        0.574844
14  VISITANTE  VISITANTE    0.052681        0.947319
15  VISITANTE  VISITANTE    0.052681        0.947319
16  VISITANTE  VISITANTE    0.322268        0.677732
17      LOCAL  VISITANTE    0.420775        0.579225
18      LOCAL  VISITANTE    0.484255        0.515745
19      LOCAL  VISITANTE    0.392286        0.607714
20  VISITANTE  VISITANTE    0.392286        0.607714
21  VISITANTE  VISITANTE    0.202813        0.797187
22  VISITANTE  VISITANTE    0.106065        0.893935
23  VISITANTE  VISITANTE    0.106065        0.893935
24  VISITANTE  VISITANTE    0.248757        0.751243
25  VISITANTE  VISITANTE    0.032321        0.967679
26  VISITANTE  VISITANTE    0.032321        0.967679
27  VISITANTE  VISITANTE    0.032321        0.967679
28  VISITANTE  VISITANTE    0.299107        0.700893
29  VISITANTE  VISITANTE    0.252379        0.747621

In [28]:
from sklearn.metrics import classification_report

In [29]:
print(classification_report(y, y_predAll))

              precision    recall  f1-score   support

       LOCAL       0.82      0.85      0.84       528
   VISITANTE       0.81      0.78      0.79       437

    accuracy                           0.82       965
   macro avg       0.82      0.81      0.81       965
weighted avg       0.82      0.82      0.82       965

In [30]:
teams = pd.read_csv('input/teams.csv')

In [31]:
teams = teams[['TEAM_ID', 'ABBREVIATION' ]]

In [101]:
teams

                 TEAM_ID
ABBREVIATION
ATL           1610612737
BOS           1610612738
NOP           1610612740
CHI           1610612741
DAL           1610612742
DEN           1610612743
HOU           1610612745
LAC           1610612746
LAL           1610612747
MIA           1610612748
MIL           1610612749
MIN           1610612750
BKN           1610612751
NYK           1610612752
ORL           1610612753
IND           1610612754
PHI           1610612755
PHX           1610612756
POR           1610612757
SAC           1610612758
SAS           1610612759
OKC           1610612760
TOR           1610612761
UTA           1610612762
MEM           1610612763
WAS           1610612764
DET           1610612765
CHA           1610612766
CLE           1610612739
GSW           1610612744

In [62]:
teams = teams.set_index('ABBREVIATION')

In [91]:
def homeTeam (name):
    return teams['TEAM_ID'].loc[name]

In [92]:
def awayTeam (name):
    return teams['TEAM_ID'].loc[name]

In [93]:
homeTeam('DAL')

1610612742

In [94]:
awayTeam('NOP')

1610612740

In [114]:
def prediceme (local, visitante):
    local = pd.DataFrame(mediasLocales2019.loc[homeTeam(local)])
    visitante = pd.DataFrame(mediasVisitantes2019.loc[awayTeam(visitante)])
    local = local.T
    local.reset_index(inplace=True)
    local = local.rename(columns={'index':'HOME_TEAM_ID'})
    visitante = visitante.T
    visitante.reset_index(inplace=True)
    visitante = visitante.rename(columns={'index':'VISITOR_TEAM_ID'})
    result = pd.concat([local, visitante], axis=1, sort=False)
    return model.predict_proba(result)

In [123]:
partidos=[('WAS','ATL'),('BKN','SAS'),('NYK','OKC'),('BOS','UTA'),('CHI','IND'),('MIN','ORL'),('NOP','MIA'),('DAL','MEM'),('LAL','MIL'),('PHX','POR')]
for i in partidos:
    print(i[0],i[1])
    print(prediceme(i[0],i[1]))

WAS ATL
[[0.82346578 0.17653422]]
BKN SAS
[[0.76449979 0.23550021]]
NYK OKC
[[0.68665686 0.31334314]]
BOS UTA
[[0.75329048 0.24670952]]
CHI IND
[[0.67212063 0.32787937]]
MIN ORL
[[0.75863623 0.24136377]]
NOP MIA
[[0.67132569 0.32867431]]
DAL MEM
[[0.73133504 0.26866496]]
LAL MIL
[[0.39811953 0.60188047]]
PHX POR
[[0.79452439 0.20547561]]

In [126]:
prediceme('LAC','LAL')

array([[0.44946827, 0.55053173]])