In [2]:
import pandas as pd

### ELECCIÓN DE FEATURES

1. Porcentaje de victorias Local y Visitante ✅
2. Puntos por partido Local y Visitante
3. Porcentaje acierto tiros de 2 (Para Local y Visitante)
4. Porcentaje acierto tiros de 3 (Para Local y Visitante)
5. Porcentaje acierto tiros libres (Para Local y Visitante)
6. Promedio de Rebotes Totales Local y Visitante
7. Promedio de Asistencias Local y Visitante
8. Días libres Local y Visitante
9. Distancia de viajes
10. Lesión local y Lesión visitante

In [5]:
features1 = pd.read_csv("output/percentageWin.csv")
features1.head()

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,HOME_TEAM_WINS,SEASON_ID,TEAM_homeTeam,G_homeTeam,W_homeTeam,L_homeTeam,W_PCT_homeTeam,TEAM_awayTeam,G_awayTeam,W_awayTeam,L_awayTeam,W_PCT_awayTeam,VICTORIA
0,2003-10-05,10300001,1610612762,1610612742,2003,1,22002,Utah,82,47,35,0.573,Dallas,82,60,22,0.732,LOCAL
1,2003-10-30,20300018,1610612756,1610612739,2003,1,22003,Phoenix,1,0,1,0.000,Cleveland,1,0,1,0.000,LOCAL
2,2003-10-30,20300016,1610612753,1610612740,2003,0,22003,Orlando,1,1,0,1.000,New Orleans,1,1,0,1.000,VISITANTE
3,2003-10-31,20300024,1610612741,1610612737,2003,1,22003,Chicago,1,0,1,0.000,Atlanta,1,0,1,0.000,LOCAL
4,2003-10-31,20300021,1610612754,1610612749,2003,0,22003,Indiana,1,1,0,1.000,Milwaukee,1,0,1,0.000,VISITANTE