In [1]:
import pandas as pd

In [2]:
players = pd.read_csv('input/players.csv')

In [3]:
salaries = pd.read_csv('input/salaries.csv')

In [4]:
salaries = salaries.drop(['Unnamed: 0'], axis=1)

In [5]:
salaries

                 equipo            nombre      salarios
0         atlanta-hawks       Evan Turner  18.606.557 $
1         atlanta-hawks     Jabari Parker   6.500.000 $
2         atlanta-hawks  Chandler Parsons  25.102.511 $
3         atlanta-hawks   Cameron Reddish   4.245.720 $
4         atlanta-hawks      Damian Jones   2.305.057 $
..                  ...               ...           ...
524  washington-wizards    Jemerrio Jones   1.416.852 $
525  washington-wizards      Jordan McRae   1.645.357 $
526  washington-wizards        Phil Booth     898.310 $
527  washington-wizards   Justin Robinson     838.464 $
528  washington-wizards  Garrison Mathews   Ambivalente

[529 rows x 3 columns]

In [6]:
salaries = salaries.drop(salaries[salaries.salarios=='Ambivalente'].index, inplace = True)

In [7]:
salaries = salaries.drop(salaries[salaries.salarios=='Agente Libre'].index, inplace = True)

AttributeError: 'NoneType' object has no attribute 'drop'

In [ ]:
salaries = salaries.drop(salaries[salaries.salarios=='AL Restringido'].index, inplace = True)

In [ ]:
salaries.salarios.unique()

In [ ]:
for i,element in enumerate(salaries.salarios):
    salaries.salarios[i] = element[:-2]

In [ ]:
salaries.salarios.unique()