In [1]:
import pandas as pd
from sklearn.metrics import *

In [2]:
games = pd.read_csv('input/games.csv')

In [3]:
games.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-03-01,21900895,Final,1610612766,1610612749,2019,1610612766,85.0,0.354,0.900,...,22.0,47.0,1610612749,93.0,0.402,0.762,0.226,20.0,61.0,0
1,2020-03-01,21900896,Final,1610612750,1610612742,2019,1610612750,91.0,0.364,0.400,...,19.0,57.0,1610612742,111.0,0.468,0.632,0.275,28.0,56.0,0
2,2020-03-01,21900897,Final,1610612746,1610612755,2019,1610612746,136.0,0.592,0.805,...,25.0,37.0,1610612755,130.0,0.505,0.650,0.488,27.0,37.0,1
3,2020-03-01,21900898,Final,1610612743,1610612761,2019,1610612743,133.0,0.566,0.700,...,38.0,41.0,1610612761,118.0,0.461,0.897,0.263,24.0,36.0,1
4,2020-03-01,21900899,Final,1610612758,1610612765,2019,1610612758,106.0,0.407,0.885,...,18.0,51.0,1610612765,100.0,0.413,0.667,0.429,23.0,42.0,1

In [4]:
ranking = pd.read_csv('input/ranking.csv')

In [5]:
ranking.head()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD
0,1610612747,0,22019,2020-03-01,West,L.A. Lakers,59,46,13,0.780,21-7,25-6
1,1610612743,0,22019,2020-03-01,West,Denver,60,41,19,0.683,24-7,17-12
2,1610612746,0,22019,2020-03-01,West,LA Clippers,60,41,19,0.683,25-6,16-13
3,1610612745,0,22019,2020-03-01,West,Houston,59,39,20,0.661,21-8,18-12
4,1610612762,0,22019,2020-03-01,West,Utah,59,37,22,0.627,21-9,16-13

###### ¿QUE QUIERO?

TODOS LOS EQUIPOS DE LOCAL

In [6]:
df_todos = games[['HOME_TEAM_ID','PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home','AST_home', 'REB_home']]
df_todos

,HOME_TEAM_ID,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home
0,1610612766,85.0,0.354,0.900,0.229,22.0,47.0
1,1610612750,91.0,0.364,0.400,0.310,19.0,57.0
2,1610612746,136.0,0.592,0.805,0.542,25.0,37.0
3,1610612743,133.0,0.566,0.700,0.500,38.0,41.0
4,1610612758,106.0,0.407,0.885,0.257,18.0,51.0
...,...,...,...,...,...,...,...
23190,1610612737,93.0,0.419,0.821,0.421,24.0,50.0
23191,1610612741,81.0,0.338,0.719,0.381,18.0,40.0
23192,1610612747,98.0,0.448,0.682,0.500,29.0,45.0
23193,1610612761,99.0,0.440,0.771,0.333,21.0,30.0
23194,1610612748,86.0,0.431,0.679,0.333,18.0,42.0

In [7]:
medias2019 = df_todos.groupby('HOME_TEAM_ID').sum()
medias2019.head()

,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home
HOME_TEAM_ID,,,,,,
1610612737,77721.0,352.296,584.997,268.179,18164.0,32453.0
1610612738,82436.0,378.155,630.269,289.794,19195.0,34380.0
1610612739,82025.0,370.185,604.595,290.452,18364.0,35529.0
1610612740,74313.0,339.152,564.939,261.514,16965.0,31644.0
1610612741,78136.0,348.780,599.090,281.428,18057.0,35610.0

In [8]:
porcentagesLocal = medias2019/23195
porcentagesLocal

,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home
HOME_TEAM_ID,,,,,,
1610612737,3.350765,0.015188,0.025221,0.011562,0.783100,1.399138
1610612738,3.554042,0.016303,0.027173,0.012494,0.827549,1.482216
1610612739,3.536322,0.015960,0.026066,0.012522,0.791722,1.531753
1610612740,3.203837,0.014622,0.024356,0.011275,0.731408,1.364260
1610612741,3.368657,0.015037,0.025828,0.012133,0.778487,1.535245
1610612742,3.512654,0.015646,0.026572,0.012281,0.745333,1.468765
1610612743,3.478767,0.015140,0.024198,0.011292,0.815779,1.444923
1610612744,3.697004,0.016114,0.026059,0.012730,0.877301,1.497521
1610612745,3.507566,0.015289,0.025300,0.011894,0.741022,1.491528
1610612746,3.411985,0.015472,0.024670,0.011432,0.790213,1.427118
1610612747,3.722570,0.016532,0.026707,0.012294,0.847596,1.596594
1610612748,3.589006,0.016828,0.026193,0.012646,0.721880,1.478034
1610612749,3.289631,0.014819,0.024371,0.011744,0.757275,1.379694
1610612750,3.210304,0.014437,0.024361,0.010873,0.718388,1.369304
1610612751,3.212632,0.014521,0.024595,0.011165,0.726320,1.382453
1610612752,3.168485,0.014184,0.023968,0.010923,0.634102,1.345635
1610612753,3.310714,0.015165,0.024270,0.011667,0.692692,1.427506
1610612754,3.385299,0.015153,0.025728,0.011994,0.718129,1.489330
1610612755,3.236991,0.014685,0.024090,0.011095,0.748437,1.398146
1610612756,3.488942,0.015428,0.025146,0.012092,0.732529,1.408407
1610612757,3.350981,0.015034,0.025332,0.011912,0.710670,1.410778
1610612758,3.270317,0.014521,0.024065,0.011303,0.677517,1.335590
1610612759,3.676741,0.017149,0.027083,0.013970,0.845139,1.539772
1610612760,3.540634,0.015716,0.026277,0.012111,0.721750,1.479026
1610612761,3.444363,0.015401,0.026236,0.012037,0.736581,1.402845
1610612762,3.269110,0.015140,0.024174,0.011567,0.722354,1.393662
1610612763,3.277775,0.015000,0.024815,0.011298,0.685320,1.394999
1610612764,3.280319,0.014636,0.024118,0.011393,0.709420,1.366501
1610612765,3.396206,0.015558,0.025179,0.011858,0.770511,1.483639
1610612766,2.970511,0.013260,0.022490,0.010385,0.657642,1.265704

TODOS LOS EQUIPOS DE VISITANTE

In [9]:
df_todosVisitantes = games[['VISITOR_TEAM_ID','PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away','AST_away', 'REB_away']]

In [10]:
mediasVisitantes2019 = df_todosVisitantes.groupby('VISITOR_TEAM_ID').sum()
mediasVisitantes2019

,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
VISITOR_TEAM_ID,,,,,,
1610612737,76108.0,347.739,587.520,271.016,16461.0,31970.0
1610612738,79694.0,364.538,619.238,283.395,17375.0,32933.0
1610612739,77917.0,351.383,586.479,273.631,15564.0,33252.0
1610612740,74486.0,338.673,579.662,267.770,15710.0,31744.0
1610612741,74704.0,339.473,580.181,272.753,16231.0,32934.0
1610612742,78795.0,354.730,617.674,276.529,16807.0,32848.0
1610612743,80579.0,356.747,590.035,269.866,16967.0,33595.0
1610612744,83508.0,363.603,606.217,291.663,18270.0,33742.0
1610612745,79520.0,349.079,599.243,278.144,16215.0,33066.0
1610612746,75979.0,344.193,564.070,268.588,15856.0,31640.0
1610612747,76142.0,338.951,557.583,259.134,15685.0,32112.0
1610612748,78365.0,368.415,593.027,284.711,17143.0,33292.0
1610612749,75100.0,339.893,571.630,261.355,16324.0,31960.0
1610612750,73679.0,330.897,573.674,253.480,15718.0,30976.0
1610612751,73914.0,335.236,573.060,259.672,16140.0,31276.0
1610612752,72814.0,326.634,564.735,261.018,15286.0,31049.0
1610612753,74348.0,340.997,556.261,268.775,15807.0,31727.0
1610612754,76702.0,348.554,604.759,275.834,16343.0,32690.0
1610612755,73819.0,334.884,559.274,256.306,15871.0,31789.0
1610612756,78675.0,349.623,575.565,269.151,17509.0,31555.0
1610612757,74931.0,340.263,590.384,269.452,15108.0,32228.0
1610612758,74842.0,333.436,564.022,263.623,16176.0,30992.0
1610612759,81233.0,374.147,624.815,294.561,17597.0,34622.0
1610612760,79330.0,349.532,604.115,264.479,15617.0,33966.0
1610612761,75932.0,342.069,593.691,269.308,15825.0,31072.0
1610612762,76653.0,353.107,583.234,261.853,17601.0,32597.0
1610612763,73724.0,341.137,571.966,259.029,15849.0,31026.0
1610612764,76985.0,344.488,579.429,264.363,16145.0,32448.0
1610612765,74551.0,342.992,569.344,268.508,15679.0,32515.0
1610612766,67361.0,304.492,524.031,235.847,14446.0,28953.0

In [11]:
mediasVisitantes2019 = mediasVisitantes2019/mediasVisitantes2019.shape[0]
mediasVisitantes2019

,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
VISITOR_TEAM_ID,,,,,,
1610612737,2536.933333,11.591300,19.584000,9.033867,548.700000,1065.666667
1610612738,2656.466667,12.151267,20.641267,9.446500,579.166667,1097.766667
1610612739,2597.233333,11.712767,19.549300,9.121033,518.800000,1108.400000
1610612740,2482.866667,11.289100,19.322067,8.925667,523.666667,1058.133333
1610612741,2490.133333,11.315767,19.339367,9.091767,541.033333,1097.800000
1610612742,2626.500000,11.824333,20.589133,9.217633,560.233333,1094.933333
1610612743,2685.966667,11.891567,19.667833,8.995533,565.566667,1119.833333
1610612744,2783.600000,12.120100,20.207233,9.722100,609.000000,1124.733333
1610612745,2650.666667,11.635967,19.974767,9.271467,540.500000,1102.200000
1610612746,2532.633333,11.473100,18.802333,8.952933,528.533333,1054.666667
1610612747,2538.066667,11.298367,18.586100,8.637800,522.833333,1070.400000
1610612748,2612.166667,12.280500,19.767567,9.490367,571.433333,1109.733333
1610612749,2503.333333,11.329767,19.054333,8.711833,544.133333,1065.333333
1610612750,2455.966667,11.029900,19.122467,8.449333,523.933333,1032.533333
1610612751,2463.800000,11.174533,19.102000,8.655733,538.000000,1042.533333
1610612752,2427.133333,10.887800,18.824500,8.700600,509.533333,1034.966667
1610612753,2478.266667,11.366567,18.542033,8.959167,526.900000,1057.566667
1610612754,2556.733333,11.618467,20.158633,9.194467,544.766667,1089.666667
1610612755,2460.633333,11.162800,18.642467,8.543533,529.033333,1059.633333
1610612756,2622.500000,11.654100,19.185500,8.971700,583.633333,1051.833333
1610612757,2497.700000,11.342100,19.679467,8.981733,503.600000,1074.266667
1610612758,2494.733333,11.114533,18.800733,8.787433,539.200000,1033.066667
1610612759,2707.766667,12.471567,20.827167,9.818700,586.566667,1154.066667
1610612760,2644.333333,11.651067,20.137167,8.815967,520.566667,1132.200000
1610612761,2531.066667,11.402300,19.789700,8.976933,527.500000,1035.733333
1610612762,2555.100000,11.770233,19.441133,8.728433,586.700000,1086.566667
1610612763,2457.466667,11.371233,19.065533,8.634300,528.300000,1034.200000
1610612764,2566.166667,11.482933,19.314300,8.812100,538.166667,1081.600000
1610612765,2485.033333,11.433067,18.978133,8.950267,522.633333,1083.833333
1610612766,2245.366667,10.149733,17.467700,7.861567,481.533333,965.100000

In [12]:
df_All = games[['HOME_TEAM_ID', 'VISITOR_TEAM_ID','SEASON','HOME_TEAM_WINS']]

In [13]:
#df_2019 = df_2019[df_2019['SEASON']>=2019]
#df_2019

In [14]:
df_All = df_All.merge(right=medias2019, on=['HOME_TEAM_ID'])

In [15]:
df_All = df_All.merge(right=mediasVisitantes2019, on=['VISITOR_TEAM_ID'])

In [16]:
df_All

,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,HOME_TEAM_WINS,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1610612766,1610612749,2019,0,68901.0,307.568,521.646,240.879,15254.0,29358.0,2503.333333,11.329767,19.054333,8.711833,544.133333,1065.333333
1,1610612766,1610612749,2019,0,68901.0,307.568,521.646,240.879,15254.0,29358.0,2503.333333,11.329767,19.054333,8.711833,544.133333,1065.333333
2,1610612766,1610612749,2013,1,68901.0,307.568,521.646,240.879,15254.0,29358.0,2503.333333,11.329767,19.054333,8.711833,544.133333,1065.333333
3,1610612766,1610612749,2013,1,68901.0,307.568,521.646,240.879,15254.0,29358.0,2503.333333,11.329767,19.054333,8.711833,544.133333,1065.333333
4,1610612766,1610612749,2012,1,68901.0,307.568,521.646,240.879,15254.0,29358.0,2503.333333,11.329767,19.054333,8.711833,544.133333,1065.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23190,1610612765,1610612766,2016,1,78775.0,360.878,584.023,275.036,17872.0,34413.0,2245.366667,10.149733,17.467700,7.861567,481.533333,965.100000
23191,1610612765,1610612766,2015,1,78775.0,360.878,584.023,275.036,17872.0,34413.0,2245.366667,10.149733,17.467700,7.861567,481.533333,965.100000
23192,1610612765,1610612766,2015,0,78775.0,360.878,584.023,275.036,17872.0,34413.0,2245.366667,10.149733,17.467700,7.861567,481.533333,965.100000
23193,1610612765,1610612766,2014,1,78775.0,360.878,584.023,275.036,17872.0,34413.0,2245.366667,10.149733,17.467700,7.861567,481.533333,965.100000
23194,1610612765,1610612766,2014,0,78775.0,360.878,584.023,275.036,17872.0,34413.0,2245.366667,10.149733,17.467700,7.861567,481.533333,965.100000

In [17]:
df_All['HOME_TEAM_WINS'].value_counts()

1    13739
0     9456
Name: HOME_TEAM_WINS, dtype: int64

In [18]:
df_All['HOME_TEAM_WINS']= df_All['HOME_TEAM_WINS'].replace({0: 'VISITANTE', 1: 'LOCAL'})

In [19]:
df_All

,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,HOME_TEAM_WINS,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1610612766,1610612749,2019,VISITANTE,68901.0,307.568,521.646,240.879,15254.0,29358.0,2503.333333,11.329767,19.054333,8.711833,544.133333,1065.333333
1,1610612766,1610612749,2019,VISITANTE,68901.0,307.568,521.646,240.879,15254.0,29358.0,2503.333333,11.329767,19.054333,8.711833,544.133333,1065.333333
2,1610612766,1610612749,2013,LOCAL,68901.0,307.568,521.646,240.879,15254.0,29358.0,2503.333333,11.329767,19.054333,8.711833,544.133333,1065.333333
3,1610612766,1610612749,2013,LOCAL,68901.0,307.568,521.646,240.879,15254.0,29358.0,2503.333333,11.329767,19.054333,8.711833,544.133333,1065.333333
4,1610612766,1610612749,2012,LOCAL,68901.0,307.568,521.646,240.879,15254.0,29358.0,2503.333333,11.329767,19.054333,8.711833,544.133333,1065.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23190,1610612765,1610612766,2016,LOCAL,78775.0,360.878,584.023,275.036,17872.0,34413.0,2245.366667,10.149733,17.467700,7.861567,481.533333,965.100000
23191,1610612765,1610612766,2015,LOCAL,78775.0,360.878,584.023,275.036,17872.0,34413.0,2245.366667,10.149733,17.467700,7.861567,481.533333,965.100000
23192,1610612765,1610612766,2015,VISITANTE,78775.0,360.878,584.023,275.036,17872.0,34413.0,2245.366667,10.149733,17.467700,7.861567,481.533333,965.100000
23193,1610612765,1610612766,2014,LOCAL,78775.0,360.878,584.023,275.036,17872.0,34413.0,2245.366667,10.149733,17.467700,7.861567,481.533333,965.100000
23194,1610612765,1610612766,2014,VISITANTE,78775.0,360.878,584.023,275.036,17872.0,34413.0,2245.366667,10.149733,17.467700,7.861567,481.533333,965.100000

In [20]:
categoricalColumns = ['HOME_TEAM_ID', 'VISITOR_TEAM_ID']
for i in categoricalColumns:
    games[i] = games[i].astype('category')

In [21]:
y = df_2019.HOME_TEAM_WINS

NameError: name 'df_2019' is not defined

In [ ]:
X = df_2019.drop(columns =['HOME_TEAM_WINS','SEASON'])

In [ ]:
print(y.shape)
print(X.shape)

In [ ]:
from sklearn.preprocessing import StandardScaler, Normalizer
from sklearn.pipeline import make_pipeline
pipeline = [
    StandardScaler(),
    Normalizer(),
]

tr = make_pipeline(*pipeline)

Xpr = tr.fit_transform(X)
Xpr = pd.DataFrame(Xpr,columns=X.columns)
print(Xpr.info())
Xpr.head()

In [ ]:
from sklearn.model_selection import train_test_split

Xpr_train, Xpr_test, y_train, y_test = train_test_split(Xpr, y, test_size=0.2)

In [ ]:
print(Xpr_train.shape)
print(Xpr_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=800, max_depth=20, min_samples_leaf=3, random_state=111, n_jobs = -1)

model.fit(Xpr_train, y_train)

In [ ]:
y_pred=model.predict(Xpr_test)
print('Accurancy', accuracy_score(y_test, y_pred))
print("Precision", precision_score(y_test, y_pred, average='weighted'))
print("Recall", recall_score(y_test, y_pred, average='weighted'))

In [ ]:
#model.predict_proba(Xpr_test)

In [ ]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
import matplotlib.pyplot as plt

y_score = model.predict_proba(Xpr_test)


display(pd.DataFrame({
    "real":y_pred,
    "predicted":y_test,
    "probaLocal":y_score[:,0],
    "probaVisitante":y_score[:,1]
    
}).head(30))